
<div class= "row">
 <div class="col-xs-10 col-xs-offset-1"> 
  <p id="notice"><%= notice %></p>
      <% @messages.each do |message| %>
      <div class="col-lg-4 col-sm-6 col-xs-12">
        <ul class = "each_messages">
          <li>
            <ul class= "data">
              <li><%= message.content %></li>
            </ul>
          </li>
          <ul class= "buttons">
            <li><%= link_to 'Show', message, class: "btn btn-default btn-sm btn_index"  %></li>
            <li><%= link_to 'Edit', edit_message_path(message), class: "btn btn-default btn-sm btn_index"  %></li>
          </ul>
          <li><%= link_to 'Delete', message, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default btn-sm btn_index"  %></li>
        </ul>
      </div>
    <% end %>
 </div>   
</div>


